@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-bg-dark: #0f172a;
  --color-sidebar: #1e293b;
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--color-bg-dark);
  color: #f1f5f9;
}
