# Prerequisites
node_modules/
.DS_Store
dist/
dist-ssr
*.local

# Client specific
client/node_modules/
client/dist/
client/.env

# Server specific
server/node_modules/
server/.env

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*